<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<title>irkit_flask</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/default.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block content %}
		{% endblock %}
        <div class="container-fluid">
            <p>
                <a class="btn btn-warning btn-lg btn-block" href="/light" role="button">
                    <img src="../static/light.png">
                    <span class="display-4">Light</span>
                </a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg btn-block" href="/ac-on" role="button">
                    <img src="../static/ac_heater.png">
                    <span class="display-4">AC 28&#x2103;</span>
                </a>
                <a class="btn btn-primary btn-lg btn-block" href="/ac-off" role="button">
                    <span class="display-4">OFF</span>
                </a>
            </p>
            <p>
                <a class="btn btn-danger btn-lg btn-block" href="/heater-on" role="button">
                    <img src="../static/ac_heater.png">
                    <span class="display-4">HEATER 22&#x2103;</span>
                </a>
                <a class="btn btn-danger btn-lg btn-block" href="/heater-off" role="button">
                    <span class="display-4">OFF</span>
                </a>
            </p>
        </div>
        <!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>